:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --primary-color: #fe5b3e;
    --text-dark: #0f172a;
    --text-light: #475569;
    --extra-light: #f2f2f2;
    --white: #ffffff;
    --max-width: 1200px;
    --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
}

.show_container_details {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.show_details {
    font-size: 1.5rem;
    max-width: 50%;
    min-width: 400px;
    background-color: var(--white);
    padding: 10px;
}

.show_details img {
    width: 350px;
}

.show_details .image {
    display: flex;
    justify-content: center;
}

.show_details h3 {
    font-size: 2.5rem;
}

.show_details_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow);
    width: 300px;
    height: 500px;
    padding: 1rem;
}

.show_details_form input {
    font-size: 2rem;
    border-radius: .5rem;
    padding: .5rem;
}